html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px. Se utiliza para estandarizar los rems de toda la pagina. Sin este reset los rems tedrian un valor mas grande **/
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


/** Globales **/

img {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}


/** Utilidades **/

h1 {
    font-size: 3.8rem;
    font-family: 'Audiowide', cursive;
}

h2 {
    font-size: 3.4rem;
    font-family: 'Audiowide', cursive;
}

h3 {
    font-size: 2.8rem;
    font-family: 'Audiowide', cursive;
}

h4 {
    font-size: 2.6rem;
    font-family: 'Audiowide', cursive;
}


/** Header **/

.site_header {
    background: linear-gradient(90deg, #1adcbd, #da3b57);
    padding: 1rem 0 3rem 0;
}

.site-header,
.inicio {
    background-image: url("../imagenes/cyberpunk_4.jpeg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: inicial;
    padding-top: 2.5rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 70rem;
    line-height: 1.8;
    font-size: 4rem;
}

.barra .titulo {
    color: #ffffff;
    margin: 0;
    font-size: 10rem;
    font-family: 'Audiowide', cursive;
}

.titulo2 {
    color: #da3b57;
    margin-left: 1rem;
}

.enlace-titulo {
    text-decoration: none;
}

.navegacion a {
    display: inline-block;
    font-family: 'Audiowide', cursive;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 2rem;
    margin-right: 3rem;
    transition: .5s;
}

.navegacion a:last-of-type {
    margin-right: 0;
}

.navegacion a:hover {
    color: #da3b57;
    transform: scale(1.5);
}


/**background: linear-gradient(90deg, #1adcbd, #da3b57);**/


/**secContenidoES**/


/** Anuncios**/

.secContenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 calc(25% - 2rem);
    border-radius: 3rem;
    box-shadow: .2rem .5rem 5rem .2rem #da3b57;
    background-color: #1a95dc;
    margin-bottom: 2rem;
}

.secContenido img {
    height: 40rem;
    width: 100%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.contenedor-secContenido {
    display: flex;
    justify-content: space-between;
}

.contenido-secContenido {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 calc(36% - 2rem);
}

.contenido-secContenido h3,
.contenido-secContenido p {
    margin: 0.3rem;
    font-family: 'Audiowide', cursive;
}

.contenido-secContenido a {
    display: inline-block;
}


/** botones**/

.d-block {
    display: block!important;
}

.boton {
    font-family: 'Audiowide', cursive;
    border-radius: 1rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: 0.4rem double rgb(78, 75, 75);
}

.boton-morado:hover {
    border: 0.4rem double #1adcbd;
}

.boton-morado {
    background-color: #da3b57;
}

.boton-azul {
    max-width: 20rem;
    width: 15rem;
    background-color: #1adcbd;
}

.boton-azul:hover {
    border: 0.4rem double #da3b57;
}

.contenido-secContenido a:hover {
    color: #07f8e4;
}

.contenido-novedad a:hover {
    color: #da3b57;
}


/**NOVEDAD**/

.novedad {
    background-color: #2b00fb47;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0rem;
}

.contenido-novedad {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/**Footer**/

.site-footer {
    background: linear-gradient(90deg, #1adcbd, #da3b57);
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin: 0;
    font-family: 'Audiowide', cursive;
}